/* About style */
#about-section-1 {
  text-align: center;
  margin: 20px 0;
}

#about-section-2 {
  text-align: center;
  margin: 20px 0;
}

#about-section-3 {
  text-align: center;
  margin: 20px 0;
}