/* Articles style */
#article-section-1 {
  text-align: center;
  margin: 20px 0;
}

#article-section-2 {
  text-align: center;
  margin: 20px 0;
}

#article-section-3 {
  text-align: center;
  margin: 20px 0;
}
