/* Contact style */
#contact-section-1 {
  text-align: center;
  margin: 20px 0;
}

#contact-section-2 {
  text-align: center;
  margin: 20px 0;
}

#contact-section-3 {
  text-align: center;
  margin: 20px 0;
}
