/* Home style */
#BMPOTD {
  text-align: center;
  margin: 20px 0;
}

#BMPOTD img {
  max-width: 100%;
  height: auto;
  margin: 20px 0;
}

#BMPOTD button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #555;
  color: white;
  border: none;
  font-weight: bold; 
}

#BMPOTD button:hover {
  background-color: #333;
  font-weight: bold; 
}

#home-section-1 {
  text-align: center;
  margin: 20px 0;
}

.BMP { 
 float: left;
 text-align: center;
 width: 25%;
 color: black;
}
.BMP:hover { 
background-color: #f2f2f2;
}